.home {
  width: 100%;
  height: 100%;
  background-color: #fffff8;
}

.home-buttons {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.home-button {
  width: 100%;
  height: 160px;
  display: flex;
  align-items: center;
  color: white;
  font-size: 50px;
  cursor: pointer;
  overflow: hidden;
}

.marquee-wrapper {
  display: flex;
  white-space: nowrap;
}

.marquee {
  animation: marquee 20s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.main {
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 40px;
  color: #854628;
}

.subtitle {
  font-size: 18px;
  line-height: 18px;
  color: #854628;
}
