.wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  padding: 60px;
}

.recipe {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  border-radius: 10px;
}

.title {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  color: #d6ab54;
  font-size: 20px;
}

.difficulties {
  display: flex;
  flex-direction: row;
  gap: 4px;
}

.difficulty {
  width: 18px;
  height: 18px;
  background: url("../../assets/star.svg") no-repeat;
  background-size: contain;
}

.time {
  margin-top: 20px;
}

.ingredient {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0;
  border-bottom: 1px solid #eee;
  border-radius: 8px;
}

.ingredient:hover {
  background-color: #e7e7e7;
}

.ingredient-name {
  padding-left: 8px;
  font-weight: 500;
  flex: 1;
}

.ingredient-amount {
  padding-right: 8px;
  color: #666;
  margin-left: 20px;
}

.tips {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.money {
  width: fit-content;
  padding: 4px 6px;
  background-color: #d6ab54;
  color: white;
  border-radius: 8px;
}

.options {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  background-color: #d6ab54;
  padding: 20px;
  border-radius: 10px;
  color: #fff;
  font-size: 18px;
}

.clickable {
  cursor: pointer !important;
}
