.recipe {
  color: #462506;
  transition: transform 300ms;
  cursor: pointer;
}

.recipe:hover {
  transform: translateX(20px);
}

.title {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.name {
  font-size: 18px;
}

.difficulties {
  display: flex;
  flex-direction: row;
  gap: 4px;
}

.difficulty {
  width: 18px;
  height: 18px;
  background: url("../../assets/star.svg") no-repeat;
  background-size: contain;
}

.description {
  width: 1000px;
}
